<%= form_with(model: [@venue, @event, ticket_option], local: true) do |form| %>
  <% if ticket_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket_option.errors.count, "error") %> prohibited this ticket_option from being saved:</h2>

      <ul>
      <% ticket_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.number_field :limit, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.datetime_field :expiration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
