<% @ticket_options.each do |option| %>
  <ul>
    <li><%= option.name %></li>
    <li><%= option.description %></li>
    <li><%= number_to_currency(option.price/100) %></li>
    <li><%= option.limit %></li>
    <li><%= option.expiration %></li>
  </ul>
<% end %>

<%= link_to "New Tickets", new_venue_event_ticket_option_path(@event.venue, @event) %>
