<p id="notice"><%= notice %></p>

<h1>Ticket Options</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_options.each do |ticket_option| %>
      <tr>
        <td><%= link_to 'Show', ticket_option %></td>
        <td><%= link_to 'Edit', edit_ticket_option_path(ticket_option) %></td>
        <td><%= link_to 'Destroy', ticket_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Option', new_ticket_option_path %>
