<p id="notice"><%= notice %></p>

<h1>Events</h1>
<% @events.each do |event| %>
  <ul>
    <h4><%= event.name %></h4>
    <%= link_to 'Show', venue_event_path(@venue, event) %>
    <% if current_user %>
      <% if policy(event).update? %>
        <%= link_to 'Edit', edit_venue_event_path(@venue, event) %>
      <% end %>
      <% if policy(event).destroy? %>
        <%= link_to 'Destroy', venue_event_path(@venue, event),
                               method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </ul>

  <br>
  <br>

<% end %>

<br>
<br>

<%= link_to 'New Event', new_venue_event_path(@venue) %>
