<h1>Venues</h1>
<% @venues.each do |venue| %>
  <ul>
    <h4><%= venue.name %></h4>
    <ul>
      <li><%= venue.location %></li>
      <li><%= venue.age %></li>
      <li><%= venue.email %></li>
      <li><%= venue.phone %></li>
      <li><%= venue.capacity %></li>
      <li><%= venue.music %></li>
      <li><%= venue.dress_code %></li>
      <li><%= venue.category %></li>
      <li><%= venue.website %></li>
    </ul>

    <%= link_to 'Show', venue %>
    <% if current_user %>
      <% if policy(venue).update? %>
        <%= link_to 'Edit', edit_venue_path(venue) %>
      <% end %>
      <% if policy(venue).destroy? %>
        <%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </ul>

  <br>
  <br>

<% end %>

<%= link_to 'New Venue', new_venue_path %>
